{% include 'header.twig' %}

 <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>{{ page["page_name"] }}</h3>
                    <ul>
                        <li class="active"><a href="/">Hizmetler</a></li>
                        <li><a href="#">{{ page["page_name"] }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

<section class="spa_area">
    <div class="container">
        <div class="single-terms-of-service">
            {{  page["page_content"] }}
        </div>
    </div>
</section>

{% include 'footer.twig' %}
